This notebook is not owned by us, we have teken and compiled this from online resources.

# **Loops:**
In general, statements are executed sequentially. The first statement in a function is executed first, followed by the second, and so on.

There may be a situation when you need to execute a block of code several number of times
A loop statement allows us to execute a statement or group of statements multiple times.

In Python, there are three loops:

1.  While
2.  For
3.  Nested

**While loop:**

Here, first the condition is checked and if itâ€™s true, control will move inside the loop and execute the statements inside the loop until the condition becomes false. We use this loop when we are not sure how many times we need to execute a group of statements or you can say that when we are unsure about the number of iterations.

0
1
2
3
4
5
6
7
8
9
While loop end
10

**For Loop:**

Like the While loop, the For loop also allows a code block to be repeated certain number of times. The difference is, in For loop we know the amount of iterations required unlike While loop, where iterations depends on the condition.

Spinach
Mango
Tomato

Mango

Dad Goku
Mom Chichi
No. of Children 2

Can't find Mango

**Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Red - Apples
Red - Mangoes
Red - Grapes
Yellow - Apples
Yellow - Mangoes
Yellow - Grapes
Green - Apples
Green - Mangoes
Green - Grapes

Red Apples
Yellow Mangoes
Green Grapes

Red - Apples - Smooth
Red - Apples - Rough
Red - Mangoes - Smooth
Red - Mangoes - Rough
Red - Grapes - Smooth
Red - Grapes - Rough
Yellow - Apples - Smooth
Yellow - Apples - Rough
Yellow - Mangoes - Smooth
Yellow - Mangoes - Rough
Yellow - Grapes - Smooth
Yellow - Grapes - Rough
Green - Apples - Smooth
Green - Apples - Rough
Green - Mangoes - Smooth
Green - Mangoes - Rough
Green - Grapes - Smooth
Green - Grapes - Rough

Red Apples Smooth
Yellow Mangoes Rough
Green Grapes Soft

[1, 2, 3, 4]

{'Hina': 23,
 'Kuroko': 30,
 'Naruto': 15,
 'Ryuzaki': 18,
 'Vegeta': 17,
 'Zoro': 25}

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

# **Functions:**

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time.

**Define a function with no arguments and no return values:**

In [ ]:
def print_text():
    print('this is text')

In [ ]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

3

**Define a function with one argument and one return value:**

In [ ]:
def square(x):
    return x**2
square(5)

25

In [ ]:
#Example

def calc(a, b, op='add'):

    if op == 'add':
        return a + b

    elif op == 'sub':
        return a - b

    else:
        print('valid operations are add and sub')

In [ ]:
# call the function
calc(10, 4, op='add')

14

In [ ]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [ ]:
# default for 'op' is 'add'
calc(10, 4)

14

In [ ]:
calc(10, 4, 'sub')

6

**Use pass as a placeholder if you haven't written the function body:**

In [ ]:
def stub():
    pass

**Return two values from a single function:**

In [ ]:
def min_max(nums):
    return min(nums), max(nums)

(1, 3)