<a href="https://colab.research.google.com/github/shaurya-bhatnagar/python_programming_BioComputing_iiitd/blob/main/day_2_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1-
seq_1 = "RACGXSXGFKTTNPRACGKXNLLRAKCGXSXG"
seq_2 = "NCKTXNLPKRAACGXNLTG"
seq_3 = "LPGDXXDVNLKPFMSTRELDQDXXDLITK"
seq_4 = "PKRXYKDTSYRVLNPQWLYRYCM"
seq_5 = "TDRKLDGXSXGCTHYTTLKMGXSXG"

#Q1
Write a Python program that classifies a given protein sequence into one of five enzyme classes based on specific hypothetical motifs. Each enzyme class is associated with a unique motif: Hydrolase (GXSXG), Transferase (KTXN), Oxidoreductase (CXXC), Lyase (DXXD), and Ligase (RXYK). The program should check if any of these motifs are present in the input sequence and print the corresponding enzyme class. If no motifs are found, the program should indicate that no matching enzyme class exists

In [ ]:
def classify_enzyme(sequence):
    # Define motifs for each enzyme class
    hydrolase_motif = "GXSXG"
    transferase_motif = "KTXN"
    oxidoreductase_motif = "CXXC"
    isomerase_motif = "DXXD"
    ligase_motif = "RXYK"

    # Check for motifs in the sequence
    if hydrolase_motif in sequence:
        return "The sequence belongs to: Hydrolase"
    elif transferase_motif in sequence:
        return "The sequence belongs to: Transferase"
    elif oxidoreductase_motif in sequence:
        return "The sequence belongs to: Oxidoreductase"
    elif isomerase_motif in sequence:
        return "The sequence belongs to: Lyase"
    elif ligase_motif in sequence:
        return "The sequence belongs to: Ligase"

    return "No matching enzyme class found."

# Example usage
sequence = input("Enter a protein sequence: ").upper()
result = classify_enzyme(sequence)
print(result)

Enter a protein sequence: RACGXSXGFKTTNPRACGKXNLLRAKCGXSXG
The sequence belongs to: Hydrolase

## Q2
Write a Python program that checks if a given amino acid sequence is valid.The program should determine if the sequence contains any invalid amino acids, defined as 'B', 'J', 'O', 'U', 'X', and 'Z'. If an invalid amino acid is found, the program should print the first invalid amino acid and state that the sequence is invalid. If the sequence contains only valid amino acids (A, C, D, E, F, G, H, I, K, L, M, N, P, Q, R, S, T, V, W, Y), the program should confirm that the sequence is valid.

In [ ]:
#Write your code here

## Q3
### To determine the ATGC content of a given DNA sequence, count the occurrences of each nucleotide and calculate their percentage content relative to the total sequence length.

#### For the sequence "ATGCGATAACTAG", the contents are approximately 30.77% Adenine, 23.08% Thymine, 15.38% Guanine, and 23.08% Cytosine.

In [3]:
# from re import L
#Write your code here

#seq = input("Enter Sequence: ")

seq = "ATGCGATAACTAGCTAGCGATCGATCGTAGCTAGCTAGCTAGCATCGATCGTAGCTAGCTACGATCGTAGCTAGCTACGATCGTAGCTAGCTAGCTAGCTAGCTGGCGATCGATCGTAGCTAGCTAGCTAGCATCGATCGTAGCTAGCTACGATCGTAGCTAGCTAGCTAGCTAGCTGATGCGATAACTAGCTAGCGATCGATCGTAGCTAGCTAGCTAGCATCGATCGTAGCTAGCTACGATCGTAGCTAGCTACGATCGTAGCTAGCTAGCTAGCTAGCTG"

c1 = seq.count('A')
c2 = seq.count('T')
c3 = seq.count('G')
c4 = seq.count('C')

l = len(seq)

p1 = c1/l
p2 = c2/l
p3 = c3/l
p4 = c4/l
print(f"The percentage of Adenine = {p1*100:.2f}%")
print(f"The percentage of T = {p2*100:.2f}%")
print(f"The percentage of G = {p3*100:.2f}%")
print(f"The percentage of C = {p4*100:.2f}%")

The percentage of Adenine = 25.09%
The percentage of T = 24.73%
The percentage of G = 26.15%
The percentage of C = 24.03%

## Q4
How can we construct the reverse complement of a given DNA sequence?

### Explanation
The reverse complement of a DNA sequence is obtained by two steps:

### Complement: Replace each nucleotide in the sequence with its complement:
* Adenine (A) is replaced with Thymine (T)
* Thymine (T) is replaced with Adenine (A)
* Guanine (G) is replaced with Cytosine (C)
* Cytosine (C) is replaced with Guanine (G)

### Reverse: Reverse the entire sequence after finding its complement.
Example:
Consider the following DNA sequence: "ATGCGATAACTAG"

Complement:

* A -> T
* T -> A
* G -> C
* C -> G
* G -> C
* A -> T
* T -> A
* A -> T
* A -> T
* C -> G
* T -> A
* A -> T
* G -> C

* Complemented sequence: "TACGCTATTGATC"
* Reverse:
Reversed complemented sequence: "CTAGTTATCGCAT"

In [ ]:
#Write your code here
seq= input("Enter a DNA seq : ")
compleseq = ""

for i in range(len(seq)):
 if seq[i] == "A": compleseq = compleseq + "T"
 elif seq[i]=="T": compleseq = compleseq+"A"
 elif seq[i]=="G": compleseq = compleseq+"C"
 elif seq[i]=="C": compleseq = compleseq+"G"
 else: print("INVALID input")

print("Comple seq", compleseq)
revSeq = compleseq [::-1]

print("Reverse seq", revSeq)

Enter a DNA seq : ATGCGATAACTAG
Comple seq TACGCTATTGATC
Reverse seq CTAGTTATCGCAT

## Q5.
How can we calculate the melting temperature (Tm) of a given DNA sequence?

### Explanation
The melting temperature (Tm) of a DNA sequence is the temperature at which half of the DNA duplex dissociates to become single-stranded. It is a crucial parameter in various molecular biology techniques such as PCR.

### There are different methods to estimate Tm, but a commonly used method for short oligonucleotides is the Wallace rule:

### For sequences shorter than 14 nucleotides:
ð‘‡ð‘š=2Ã—(numberÂ ofÂ A/T)+4Ã—(numberÂ ofÂ G/C)
* For longer sequences, more complex formulas involving the sequence length and the concentration of ions (salt) in the solution are used, but the Wallace rule provides a quick and useful approximation.

Count the Nucleotides:

Adenine (A): 4
Thymine (T): 3
Guanine (G): 2
Cytosine (C): 3
Apply the Wallace Rule:

Number of A/T: 7
Number of G/C: 5
ð‘‡ð‘š=2Ã—7+4Ã—5=14+20=34âˆ˜ð¶
Tm=2Ã—7+4Ã—5=14+20=34âˆ˜C

In [ ]:
#Write your code here
seq = input("Enter Sequence: ")

# t = "ATGCGATAACTAG"
c1 = seq.count('A')
c2 = seq.count('T')
c3 = seq.count('G')
c4 = seq.count('C')

l = len(seq)

tm = 2 *(c1+c2) + 4 * (c3+c4)

print("tm : {0}Â°C".format(tm))

Enter Sequence: AAAATTTGGCCC
tm : 34Â°C

#Q6
 For a given sequence, find the most occurring K-mer count.

Part 1: Finding the Most Occurring k-mer with k=3
Given the nucleotide sequence: ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGCTAGCTG
Use the kmer_count function to find the most occurring k-mer of size 3. What is the k-mer and its count in this sequence?

In [64]:
seq = "ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGCTAGCTG"
n = len(seq)

In [69]:
def k_mer(k : int) -> int:
  seq_1 = ""
  seq_2 = ""
  max_count_k_mer_name = ""
  max_count_value = 0
  n = len(seq)
  for i in range(0,n):

    if seq.count(seq[i:i+k]) > max_count_value:
      if len(seq[i:i+k]) != k:
        break
      max_count_k_mer_name = seq[i:i+k]
      max_count_value = seq.count(seq[i:i+k])

      #print("updating ")
      #print(max_count_k_mer_name,"," ,max_count_value,"\n")



    seq_1 = seq_1 +seq[i:i+k] + ":" +str(seq.count(seq[i:i+k]))+"\n"
    seq_2 = seq_2 + str(seq.count(seq[i:i+3]))+ ","

  print("max {0}_mer name : {1}".format(k,max_count_k_mer_name))
  print("max {0}_mer count : {1}".format(k,max_count_value))

  #print(seq_1)
  #print(seq_2)





for k in range(1,n):
  k_mer(k)

max 1_mer name : G
max 1_mer count : 28
max 2_mer name : TA
max 2_mer count : 21
max 3_mer name : TAG
max 3_mer count : 14
max 4_mer name : TAGC
max 4_mer count : 14
max 5_mer name : TAGCT
max 5_mer count : 8
max 6_mer name : TAGCTA
max 6_mer count : 7
max 7_mer name : TAGCTAG
max 7_mer count : 6
max 8_mer name : TAGCTAGC
max 8_mer count : 6
max 9_mer name : ACGTAGCTA
max 9_mer count : 5
max 10_mer name : ACGTAGCTAG
max 10_mer count : 5
max 11_mer name : ACGTAGCTAGC
max 11_mer count : 5
max 12_mer name : ACGTAGCTAGCT
max 12_mer count : 5
max 13_mer name : ACGTAGCTAGCTA
max 13_mer count : 4
max 14_mer name : TACGTAGCTAGCTA
max 14_mer count : 3
max 15_mer name : TACGTAGCTAGCTAG
max 15_mer count : 3
max 16_mer name : TACGTAGCTAGCTAGC
max 16_mer count : 3
max 17_mer name : TACGTAGCTAGCTAGCT
max 17_mer count : 2
max 18_mer name : ATGCGTACGTAGCTAGCT
max 18_mer count : 1
max 19_mer name : ATGCGTACGTAGCTAGCTA
max 19_mer count : 1
max 20_mer name : ATGCGTACGTAGCTAGCTAG
max 20_mer count : 1
max 21_mer name : ATGCGTACGTAGCTAGCTAGC
max 21_mer count : 1
max 22_mer name : ATGCGTACGTAGCTAGCTAGCT
max 22_mer count : 1
max 23_mer name : ATGCGTACGTAGCTAGCTAGCTG
max 23_mer count : 1
max 24_mer name : ATGCGTACGTAGCTAGCTAGCTGA
max 24_mer count : 1
max 25_mer name : ATGCGTACGTAGCTAGCTAGCTGAC
max 25_mer count : 1
max 26_mer name : ATGCGTACGTAGCTAGCTAGCTGACG
max 26_mer count : 1
max 27_mer name : ATGCGTACGTAGCTAGCTAGCTGACGT
max 27_mer count : 1
max 28_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTA
max 28_mer count : 1
max 29_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAG
max 29_mer count : 1
max 30_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGC
max 30_mer count : 1
max 31_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCT
max 31_mer count : 1
max 32_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTA
max 32_mer count : 1
max 33_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAG
max 33_mer count : 1
max 34_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGC
max 34_mer count : 1
max 35_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCT
max 35_mer count : 1
max 36_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTA
max 36_mer count : 1
max 37_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTAC
max 37_mer count : 1
max 38_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACG
max 38_mer count : 1
max 39_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGA
max 39_mer count : 1
max 40_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGAT
max 40_mer count : 1
max 41_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATC
max 41_mer count : 1
max 42_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCG
max 42_mer count : 1
max 43_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGT
max 43_mer count : 1
max 44_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTA
max 44_mer count : 1
max 45_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTAC
max 45_mer count : 1
max 46_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACG
max 46_mer count : 1
max 47_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGT
max 47_mer count : 1
max 48_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTA
max 48_mer count : 1
max 49_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTAC
max 49_mer count : 1
max 50_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACG
max 50_mer count : 1
max 51_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGA
max 51_mer count : 1
max 52_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGAT
max 52_mer count : 1
max 53_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATC
max 53_mer count : 1
max 54_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCG
max 54_mer count : 1
max 55_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGT
max 55_mer count : 1
max 56_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTA
max 56_mer count : 1
max 57_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTAC
max 57_mer count : 1
max 58_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACG
max 58_mer count : 1
max 59_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGT
max 59_mer count : 1
max 60_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTA
max 60_mer count : 1
max 61_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAG
max 61_mer count : 1
max 62_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGC
max 62_mer count : 1
max 63_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCT
max 63_mer count : 1
max 64_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTA
max 64_mer count : 1
max 65_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAG
max 65_mer count : 1
max 66_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGC
max 66_mer count : 1
max 67_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCT
max 67_mer count : 1
max 68_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTA
max 68_mer count : 1
max 69_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTAC
max 69_mer count : 1
max 70_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACG
max 70_mer count : 1
max 71_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGT
max 71_mer count : 1
max 72_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTA
max 72_mer count : 1
max 73_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAG
max 73_mer count : 1
max 74_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGC
max 74_mer count : 1
max 75_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCT
max 75_mer count : 1
max 76_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTA
max 76_mer count : 1
max 77_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAG
max 77_mer count : 1
max 78_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGC
max 78_mer count : 1
max 79_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCT
max 79_mer count : 1
max 80_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTA
max 80_mer count : 1
max 81_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAG
max 81_mer count : 1
max 82_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGC
max 82_mer count : 1
max 83_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCT
max 83_mer count : 1
max 84_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTA
max 84_mer count : 1
max 85_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTAC
max 85_mer count : 1
max 86_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACG
max 86_mer count : 1
max 87_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGT
max 87_mer count : 1
max 88_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTA
max 88_mer count : 1
max 89_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAG
max 89_mer count : 1
max 90_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGC
max 90_mer count : 1
max 91_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCT
max 91_mer count : 1
max 92_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTA
max 92_mer count : 1
max 93_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAG
max 93_mer count : 1
max 94_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGC
max 94_mer count : 1
max 95_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCT
max 95_mer count : 1
max 96_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTA
max 96_mer count : 1
max 97_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAG
max 97_mer count : 1
max 98_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGC
max 98_mer count : 1
max 99_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGCT
max 99_mer count : 1
max 100_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGCTA
max 100_mer count : 1
max 101_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGCTAG
max 101_mer count : 1
max 102_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGCTAGC
max 102_mer count : 1
max 103_mer name : ATGCGTACGTAGCTAGCTAGCTGACGTAGCTAGCTACGATCGTACGTACGATCGTACGTAGCTAGCTACGTAGCTAGCTAGCTACGTAGCTAGCTAGCTAGCT
max 103_mer count : 1

Part 2: Finding the Most Occurring k-mer with k Between 10 and 15
Given the same nucleotide sequence, Using the kmer_count function, determine the most occurring k-mer for each k value between 10 and 15. List the k-mer and its count for each value of k.

In [ ]:
#Write your code here

## Q7.
Given a chromosome sequence, identify the number of genes present in it by locating the start and stop codons within the sequence. How can this be achieved, and what is the count of genes in the provided sequence?
Hint:
To determine the number of genes in a chromosome sequence, we need to locate the start and stop codons that define the boundaries of each gene. In the context of DNA sequences, the start codon is typically "ATG" and the stop codons are "TAA", "TAG", and "TGA". The process involves scanning the sequence for these codons in all three reading frames and counting the number of valid genes.

### Here's a step-by-step approach:

1. Identify Start Codons: Search for the "ATG" codon in the sequence.
2. Identify Stop Codons: Search for the "TAA", "TAG", and "TGA" codons in the sequence.
3. Reading Frames: Since DNA can be read in three frames, repeat the search in all three frames.
4. Gene Validation: For each start codon, find the nearest downstream stop codon in the same frame. If found, count it as a valid gene.

Example
Consider the following chromosome sequence: "ATGCGATAACTAGATGTGA"

* Frame 1:
Start at position 0: "ATG"
Stop at position 6: "TAA", position 15: "TGA"
Gene: "ATGCGATAA" (from position 0 to 8)
* Frame 2:
No start codons at positions 1, 4, or 7.
* Frame 3:
Start at position 4: "ATG"
Stop at position 10: "TAG", position 15: "TGA"
Gene: "ATGTGA" (from position 4 to 15)
* Total number of genes: 2

In [ ]:
seq = "ATGCGATAACTAGATGTGA"

In [ ]:
# searchin